/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	
}

body {
	font-family: Arial, sans-serif; 
	width: 70%;
	margin: 0 auto;
	padding: 20px 40px;
	background-image: url(Luke.jpg); 
	background-repeat:no-repeat;
	background-size: cover; 
}

header {
	color: bisque;
	padding: 20px;
	
}

header h1 {
	font-size: 40px;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

nav li {
	display:inline;
	padding-right: 5px; 
}

header a:link {color: cornsilk;}
header a:visited {color: cornsilk;}
header a:hover {color: #fff;}
header a:focus {color: #fff;}
header a:active {color: #fff;}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align:left;
}
th, 
td {color: #fff;
	padding: 10px 0;
}

a:link {color: cornsilk;}
a:visited {color: ;}
a:hover {color: ;}
a:focus {color: ;}
a:active {color:};